# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# build directory
java/SEP2/out/*
out/*
java/SEP2/src/booking/server/persistene/DatabaseConnectionString.txt
